<%-include("./partials/header")%>
    <h1>Piratesbay</h1>
    <form action="/result" method="GET">
        <label>Enter Movie Name</label>
        <br>
        <input type="text" name="movieName" placeholder="Search Movie" required>
        
        <button class="btn btn-primary">Submit</button>
    </form>
<%-include("./partials/footer")%>